body{
    background-color: #ffffff;
}
.cabecalho{
    background-color: #e9b6ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{ /*sobe o menu dentro do header e alinha verticalmente*/
    display: flex;
    align-items: center;
}
.container__botao { /*esconde o botãozinho do check*/
    display: none;
}
/*cria o icone do menu hamburguer e coloca dentro do header*/
.cabecalho__menu-hamburguer{     
    width: 24px;
     height: 24px;
     background-image: url(img/menu.svg);
     background-repeat: no-repeat;
     background-position: center;
     display: inline-block;
 }
 /* ajeita o icone do menu*/
.container__imagem{
    padding: 1em;
}
.container__titulo {
    display: flex;/*REVER POR QUE FUI EU QUEM PUS*/
    color: rgb(0, 0, 0);
    padding-left: 1em;
}
.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    /*esconde e mostra o menu*/
background-image: url("img/menuAberto.png");
}
.container__botao:checked~.container__rotulo { /*o fundo do botao fica na cor escolhida*/
background: pink;
}
/*OS ITENS DA LISTA / MODALIDADES */
.container__botao:checked~.lista-menu {
    display: block; /* mostra a lista bloqueada pq se nao por isso ela some */
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 25vw; /*largura do menu */
    background-color:  rgb(207, 138, 228);
    list-style-type: none;
}
.lista-menu__link { /*tam e cor da fonte dos itens de modo geral*/
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.lista-menu__link:hover { /*tam e cor da fonte altera ao passar o mouse*/
    font-size: 100px;
    color: purple;
}